.u-section-1 .u-sheet-1 {
  min-height: 739px;
}

.u-section-1 .u-image-1 {
  width: 534px;
  height: 430px;
  box-shadow: -12px -5px 23px 3px rgba(128,128,128,1);
  margin: 108px auto 0 584px;
}

.u-section-1 .u-text-1 {
  animation-duration: 1000ms;
  font-size: 6rem;
  margin: -381px 617px 0 0;
}

.u-section-1 .u-text-2 {
  animation-duration: 1000ms;
  margin: 75px -21px 0 556px;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 1px;
  box-shadow: -2px 2px 8px 0 rgba(128,128,128,1);
  margin: 11px auto 60px 43px;
  padding: 20px 24px 21px 23px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    width: 461px;
    margin-top: 165px;
    margin-right: 9px;
    margin-left: 406px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -426px;
    margin-right: 417px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 60px;
    margin-left: 456px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1379px;
  }

  .u-section-1 .u-image-1 {
    width: 640px;
    height: 563px;
    margin-top: 255px;
    margin-right: 15px;
    margin-left: auto;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    font-size: 7.625rem;
    margin-top: -536px;
    margin-right: 182px;
    margin-left: 15px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 56px;
    margin-right: 82px;
    margin-left: 25px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 192px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1376px;
  }

  .u-section-1 .u-image-1 {
    width: 528px;
    height: 478px;
    margin-top: 460px;
    margin-right: auto;
  }

  .u-section-1 .u-text-1 {
    font-size: 6rem;
    margin-top: -390px;
    margin-right: 17px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: 277px;
    margin-right: -86px;
    margin-left: -15px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 75px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1304px;
  }

  .u-section-1 .u-image-1 {
    width: 298px;
    height: 265px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-top: -158px;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: 301px;
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 946px;
}

.u-section-2 .u-image-1 {
  width: 406px;
  height: 406px;
  background-image: url("images/IMG-27002.jpg");
  background-position: 50% 10.28%;
  margin: 60px auto 0;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 20px auto 60px 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 400px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  font-weight: 400;
  line-height: 1.6;
  margin: 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 400px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-2 {
  margin-top: 0;
  font-size: 1.125rem;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 876px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 330px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 330px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 646px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 746px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 680px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 340px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 542px;
}

.u-section-3 .u-text-1 {
  width: 740px;
  margin: 60px auto 0;
}

.u-section-3 .u-text-2 {
  width: 740px;
  margin: 20px auto 0;
}

.u-section-3 .u-list-1 {
  min-height: 315px;
  grid-gap: 10px 10px;
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-template-rows: auto;
  width: 1140px;
  margin: 20px auto 60px;
}

.u-section-3 .u-list-item-1 {
  animation-duration: 1000ms;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-3 .u-text-3 {
  font-size: 1.875rem;
  margin: 30px 0 0;
}

.u-section-3 .u-text-4 {
  margin: 20px 1px 0 0;
}

.u-section-3 .u-list-item-2 {
  animation-duration: 1000ms;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-3 .u-text-5 {
  font-size: 1.875rem;
  margin: 30px 0 0;
}

.u-section-3 .u-text-6 {
  margin: 20px 1px 0 0;
}

.u-section-3 .u-list-item-3 {
  animation-duration: 1000ms;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-icon-3 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-3 .u-text-7 {
  font-size: 1.875rem;
  margin: 30px 0 0;
}

.u-section-3 .u-text-8 {
  margin: 20px 1px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 487px;
  }

  .u-section-3 .u-list-1 {
    min-height: 259px;
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
    height: auto;
    width: 940px;
  }

  .u-section-3 .u-text-3 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-text-4 {
    margin-right: 0;
  }

  .u-section-3 .u-text-5 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-text-6 {
    margin-right: 0;
  }

  .u-section-3 .u-text-7 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-text-8 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 820px;
  }

  .u-section-3 .u-text-1 {
    width: 720px;
  }

  .u-section-3 .u-text-2 {
    width: 720px;
  }

  .u-section-3 .u-list-1 {
    min-height: 595px;
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    width: 540px;
  }

  .u-section-3 .u-text-2 {
    width: 540px;
  }

  .u-section-3 .u-list-1 {
    grid-template-columns: 100%;
    width: 540px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    width: 340px;
  }

  .u-section-3 .u-text-2 {
    width: 340px;
  }

  .u-section-3 .u-list-1 {
    width: 340px;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 867px;
}

.u-section-4 .u-text-1 {
  width: 411px;
  margin: 21px auto 0;
}

.u-section-4 .u-image-1 {
  width: 561px;
  height: 279px;
  box-shadow: -9px -2px 8px 5px rgba(128,128,128,1);
  margin: 62px auto 0 49px;
}

.u-section-4 .u-text-2 {
  font-size: 1.875rem;
  margin: -221px -320px 0 640px;
}

.u-section-4 .u-text-3 {
  font-weight: normal;
  margin: 0 0 0 640px;
}

.u-section-4 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 1px;
  box-shadow: -2px 2px 8px 0 rgba(128,128,128,1);
  margin: 40px 138px 0 auto;
  padding: 20px 24px 21px 23px;
}

.u-section-4 .u-image-2 {
  width: 570px;
  height: 281px;
  box-shadow: 2px -2px 8px 8px rgba(128,128,128,1);
  margin: 126px 62px 0 auto;
}

.u-section-4 .u-text-4 {
  font-size: 1.875rem;
  margin: -241px 320px 0 0;
}

.u-section-4 .u-text-5 {
  font-weight: normal;
  margin: 0 640px 0 0;
}

.u-section-4 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 1px;
  box-shadow: -2px 2px 8px 0 rgba(128,128,128,1);
  margin: 51px auto 60px 21px;
  padding: 20px 24px 21px 23px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-2 {
    font-size: 1.25rem;
    width: auto;
    margin-top: -236px;
    margin-right: -587px;
    margin-left: 636px;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-top: 21px;
    margin-right: -587px;
    margin-left: 636px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 53px;
    margin-right: 0;
  }

  .u-section-4 .u-image-2 {
    margin-top: 26px;
  }

  .u-section-4 .u-text-4 {
    font-size: 1.5rem;
    width: auto;
    margin-top: -172px;
    margin-right: 105px;
    margin-left: 15px;
  }

  .u-section-4 .u-text-5 {
    width: auto;
    margin-top: 15px;
    margin-right: 419px;
    margin-left: 21px;
  }

  .u-section-4 .u-btn-2 {
    margin-top: 26px;
    margin-left: 15px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-image-1 {
    margin-top: 3px;
    margin-left: -13px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 12px;
    margin-right: -188px;
    margin-left: 188px;
  }

  .u-section-4 .u-text-3 {
    margin-top: 13px;
    margin-right: -754px;
    margin-left: 168px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: -86px;
    margin-right: -50px;
    margin-left: 497px;
  }

  .u-section-4 .u-image-2 {
    margin-top: 29px;
    margin-right: -38px;
    margin-left: 188px;
  }

  .u-section-4 .u-text-4 {
    margin-top: 12px;
    margin-right: -340px;
    margin-left: 340px;
  }

  .u-section-4 .u-text-5 {
    margin-top: 14px;
    margin-right: -120px;
    margin-left: 340px;
  }

  .u-section-4 .u-btn-2 {
    margin-top: -59px;
    margin-bottom: 2px;
    margin-left: 26px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 943px;
  }

  .u-section-4 .u-image-1 {
    width: 540px;
    height: 269px;
    margin-left: 0;
  }

  .u-section-4 .u-text-2 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-4 .u-text-3 {
    margin-top: 21px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-4 .u-image-2 {
    width: 540px;
    height: 266px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-5 {
    margin-left: 0;
  }

  .u-section-4 .u-btn-2 {
    margin: -66px -20px 9px auto;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 798px;
  }

  .u-section-4 .u-text-1 {
    width: 340px;
    margin-top: 20px;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 169px;
  }

  .u-section-4 .u-text-3 {
    margin-top: 13px;
  }

  .u-section-4 .u-image-2 {
    width: 340px;
    height: 167px;
    margin-right: auto;
  }

  .u-section-4 .u-text-4 {
    margin-top: 3px;
  }

  .u-section-4 .u-text-5 {
    margin-top: 23px;
    margin-right: 0;
  }

  .u-section-4 .u-btn-2 {
    margin-top: 8px;
    margin-right: -50px;
    margin-bottom: 12px;
  }
}